In [3]:
%cd /content/drive/MyDrive/

/content/drive/MyDrive

In [4]:
file_name = "./BUC/master.xlsx"

In [5]:
import pandas as pd
!pip install -U pandasql
from pandasql import sqldf

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.41)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.12.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=a0e05b175171e9964ec2747e76ba8032e252aa8fd3f5f25d10e6f2023609ec0b
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [6]:
import numpy as np
data = pd.read_excel(file_name,dtype=np.str)
data = pd.DataFrame(data)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [7]:

N,M = data.shape
cols = data.columns

In [8]:
data

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987.0,male,15-24 years,21.0,312900.0,6.71,Albania1987,NaN,2156624900.0,796.0,Generation X
1,Albania,1987.0,male,35-54 years,16.0,308000.0,5.19,Albania1987,NaN,2156624900.0,796.0,Silent
2,Albania,1987.0,female,15-24 years,14.0,289700.0,4.83,Albania1987,NaN,2156624900.0,796.0,Generation X
3,Albania,1987.0,male,75+ years,1.0,21800.0,4.59,Albania1987,NaN,2156624900.0,796.0,G.I. Generation
4,Albania,1987.0,male,25-34 years,9.0,274300.0,3.28,Albania1987,NaN,2156624900.0,796.0,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014.0,female,35-54 years,107.0,3620833.0,2.96,Uzbekistan2014,0.675,63067077179.0,2309.0,Generation X
27816,Uzbekistan,2014.0,female,75+ years,9.0,348465.0,2.58,Uzbekistan2014,0.675,63067077179.0,2309.0,Silent
27817,Uzbekistan,2014.0,male,5-14 years,60.0,2762158.0,2.17,Uzbekistan2014,0.675,63067077179.0,2309.0,Generation Z
27818,Uzbekistan,2014.0,female,5-14 years,44.0,2631600.0,1.67,Uzbekistan2014,0.675,63067077179.0,2309.0,Generation Z
27819,Uzbekistan,2014.0,female,55-74 years,21.0,1438935.0,1.46,Uzbekistan2014,0.675,63067077179.0,2309.0,Boomers

In [9]:

print("No of records : ",N)
print("No of columns : ",M)

No of records :  27820
No of columns :  12

In [10]:
data

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987.0,male,15-24 years,21.0,312900.0,6.71,Albania1987,NaN,2156624900.0,796.0,Generation X
1,Albania,1987.0,male,35-54 years,16.0,308000.0,5.19,Albania1987,NaN,2156624900.0,796.0,Silent
2,Albania,1987.0,female,15-24 years,14.0,289700.0,4.83,Albania1987,NaN,2156624900.0,796.0,Generation X
3,Albania,1987.0,male,75+ years,1.0,21800.0,4.59,Albania1987,NaN,2156624900.0,796.0,G.I. Generation
4,Albania,1987.0,male,25-34 years,9.0,274300.0,3.28,Albania1987,NaN,2156624900.0,796.0,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014.0,female,35-54 years,107.0,3620833.0,2.96,Uzbekistan2014,0.675,63067077179.0,2309.0,Generation X
27816,Uzbekistan,2014.0,female,75+ years,9.0,348465.0,2.58,Uzbekistan2014,0.675,63067077179.0,2309.0,Silent
27817,Uzbekistan,2014.0,male,5-14 years,60.0,2762158.0,2.17,Uzbekistan2014,0.675,63067077179.0,2309.0,Generation Z
27818,Uzbekistan,2014.0,female,5-14 years,44.0,2631600.0,1.67,Uzbekistan2014,0.675,63067077179.0,2309.0,Generation Z
27819,Uzbekistan,2014.0,female,55-74 years,21.0,1438935.0,1.46,Uzbekistan2014,0.675,63067077179.0,2309.0,Boomers

In [11]:
class BUC_fit:
  def __init__(self,min_support,cur_dir):
    self.level = 0
    self.min_support = min_support
    self.data_cube_counter = 0
    self.comb = ""
    self.comb_ele = ""
    self.data_cube_files_dict = {}
    self.cur_dir = cur_dir
    self.total_count=0

  def partition(self,R,d):
    return sqldf(f'select \"{cols[d]}\", COUNT(*) as count from R group by \"{cols[d]}\" order by COUNT(*)',locals())


  def convert_to_columns(self,comb):
    l = []
    k = 0
    for i in range(0,len(comb),1):
      if(comb[i]=='~'):
        l.append(comb[k:i])
        k=i+1
    col_string = ""
    for ind in l:
      col_string += cols[int(ind)]
      col_string += '~'
    return col_string

  def is_file_present(self,comb):
    import os
    l = os.listdir(self.cur_dir)
    return comb+".txt" in l

  def create_partitioned_table(self,R,d,M,ele):
    column_string = ""
    for k in range(d,M,1):
      column_string += "\""
      column_string += cols[k]    
      column_string += "\""
      if(k!=(M-1)):
        column_string+=', '
    return sqldf(f'select {column_string} from R where \"{cols[d]}\" = \"{ele}\"',locals())

  def BUC(self,R,dim,comb="",comb_ele="",is_memory=False):
    self.level += 1
    for d in range(dim,M,1):

      partitions = self.partition(R,d)
      cardinality = partitions.shape[0]
      for c in range(cardinality):

        freq = partitions.iloc[c][1]
        ele = partitions.iloc[c][0]

        if(freq < self.min_support):
          continue
        import os
        dirs = os.listdir(self.cur_dir)
        print(1)
        if f"Level-{self.level}" not in dirs:
          os.mkdir(f"{self.cur_dir}/Level-{self.level}")
        with open(f"{self.cur_dir}/Level-{self.level}/{comb}{d}~.txt",'a') as f:
          self.total_count += 1
          f.write(comb_ele+f"{ele}~"+str(freq)+"\n")
          f.close()

        partitioned_table = self.create_partitioned_table(R,d,M,ele)
        self.BUC(partitioned_table,d+1,comb+f"{d}~",comb_ele+f"{ele}~")
      if is_memory:
        return

    self.level -= 1    
    return self.total_count

In [12]:
cols

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [13]:
def get_tuple_size(l):
  size = 0
  for c in l:
    if(isinstance(c,str)):
      size += len(c)*8
    if(isinstance(c,float)):
      size += 8
  return size

def write_string(row,f):
  s=""
  for c in row:
    s+=str(c)+'~'
  f.write(s)
  f.write("\n")

def dataPartioner(data,paging_path,min_support):
  import os
  
  try:
    os.mkdir(paging_path)
  except:
    pass
  delimeter = '~'
  paths = {}
  # for index,row in data.iterrows():
  #   country = row['country']
  #   try:
  #     with open(paths[country],'a') as f:
  #       write_string(row,f)
  #       f.close()
  #   except: 
  #     paths[country] = paging_path+country
  #     with open(paging_path+country,'w') as f:
  #       write_string(row,f)
  #       f.close()
  page_counter = 0
  ele_dic = {}
  for d in range(0,M,1):
    print(f"{d} out of {M} processing .. . . ")
    try:
      import os
      os.mkdir(f"{paging_path}Dim-{d}/")
      print(f"Created {paging_path}Dim-{d}/")
    except:
      pass
    

    #partitions = partition(data,d)
    partitions = sqldf(f'select \"{cols[d]}\", COUNT(*) as count from data group by \"{cols[d]}\" order by COUNT(*)',locals())
    
    for i in range(partitions.shape[0]):
      ele = partitions.iloc[i][0]
      freq = partitions.iloc[i][1]
      if(freq>=min_support):
        column_string=""
        for k in range(d,M,1):
          column_string += "\""
          column_string += cols[k]    
          column_string += "\""
          if(k!=(M-1)):
            column_string+=', '
        page = sqldf(f'select {column_string} from data where \"{cols[d]}\" = \"{ele}\"',locals())
        if(ele not in ele_dic):
          ele_dic[ele] = page_counter
          page_counter += 1
        page_path = ele_dic[ele]
        page.to_csv(f"{paging_path}Dim-{d}/"+str(page_path)+".csv",sep='\t')

In [14]:
def dimensionwise_BUC(min_support,memory_size):
  for d in range(0,M,1):
    page_size = []
    import os
    for f_name in os.listdir(f"./BUC/pages/Dim-{d}/"):
      page_size.append([f"./BUC/pages/Dim-{d}/"+f_name,os.path.getsize(f"./BUC/pages/Dim-{d}/"+f_name)])

    page_size.sort(key=lambda a : a[1] )
    print(f"Applying BUC for {d} out of {M} processing .. . . ")
    print(f"No of pages = {len(page_size)}")
    memory_fixed_BUC(page_size,memory_size,min_support)
    

#Memory fixed M
def memory_fixed_BUC(page_size,M,min_support):
  i=0
  t = 0
  while i < len(page_size):
    k=i
    size_sum = 0
    while i < len(page_size) :
      if(size_sum + page_size[i][1] > M):
        i+=1
        break
      size_sum += page_size[i][1]
      i+=1


    memory_data = []
    for j in range(k,i,1):
        memory_data.append(pd.DataFrame(pd.read_csv(page_size[j][0],sep='\t')))

    partioned_data = pd.concat(memory_data)
    BUC_fit(min_support,'./BUC').BUC(partioned_data,0,is_memory=True)
    
    print(f"{i} out of {len(page_size)} processed !")
  return t

In [16]:

dataPartioner(data,"./BUC/pages/",1000)

0 out of 12 processing .. . .
Created ./BUC/pages/Dim-0/
1 out of 12 processing .. . .
Created ./BUC/pages/Dim-1/
2 out of 12 processing .. . .
Created ./BUC/pages/Dim-2/
3 out of 12 processing .. . .
Created ./BUC/pages/Dim-3/
4 out of 12 processing .. . .
Created ./BUC/pages/Dim-4/
5 out of 12 processing .. . .
Created ./BUC/pages/Dim-5/
6 out of 12 processing .. . .
Created ./BUC/pages/Dim-6/
7 out of 12 processing .. . .
Created ./BUC/pages/Dim-7/
8 out of 12 processing .. . .
Created ./BUC/pages/Dim-8/
9 out of 12 processing .. . .
Created ./BUC/pages/Dim-9/
10 out of 12 processing .. . .
Created ./BUC/pages/Dim-10/
11 out of 12 processing .. . .
Created ./BUC/pages/Dim-11/

In [ ]:
dimensionwise_BUC(1000,1e6)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1 out of 2 processed !
1
1
1
1
1
1
1

In [ ]:
page_size

In [ ]:
print(BUC_fit(3,'./BUC_in').BUC(data,0))

In [ ]:
print(memory_fixed_BUC(page_size,5900,3))

In [ ]:
# Memory Fixed analysis
min_s = [100,500,1000,2500,5000,10000]
time_s = []

In [ ]:
import time
s1 = time.time()
BUC_fit(min_s[5],'./BUC_in').BUC(data,0)
time_s.append(time.time() - s1)

In [ ]:
from matplotlib import pyplot as plt
plt.plot(min_s,time_s)
plt.show()

In [ ]:
page_size

In [ ]:
memory_size = [1,2,4,0.5,0.1]

In [ ]:
import time
s = time.time()
memory_fixed_BUC(page_size,memory_size[4]*1e6,1000)
time_memory.append(time.time()-s)

In [ ]:
memory_size = [0.1,0.5,1,2,4]
time_memory = [27.97177815437317,55.176008224487305,102.53615212440491, 141.9711558818817, 186.30846643447876]

In [ ]:
from matplotlib import pyplot as plt
plt.plot(memory_size,time_memory)
plt.show()