In [27]:
import pandas as pd
import numpy as np

data = pd.read_excel('../data/master.xlsx')

In [28]:
data.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [29]:
data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2156624900,796,Boomers

In [30]:
# get the number of unique values in each column
unique_counts = data.nunique()

# create a dictionary with column names as keys and number of unique values as values
col_dict = dict(zip(unique_counts.index, unique_counts.values))

# sort the dictionary by values in descending order
sorted_cols = sorted(col_dict, key=col_dict.get, reverse=True)

# rearrange the columns in the data based on the sorted column names
data = data[sorted_cols]

In [31]:
data.head()

,population,suicides/100k pop,country-year,gdp_for_year ($),gdp_per_capita ($),suicides_no,HDI for year,country,year,age,generation,sex
0,312900,6.71,Albania1987,2156624900,796,21,NaN,Albania,1987,15-24 years,Generation X,male
1,308000,5.19,Albania1987,2156624900,796,16,NaN,Albania,1987,35-54 years,Silent,male
2,289700,4.83,Albania1987,2156624900,796,14,NaN,Albania,1987,15-24 years,Generation X,female
3,21800,4.59,Albania1987,2156624900,796,1,NaN,Albania,1987,75+ years,G.I. Generation,male
4,274300,3.28,Albania1987,2156624900,796,9,NaN,Albania,1987,25-34 years,Boomers,male

In [32]:
print(len(data.columns))
print(data['country'].unique())
print(len(data['country'].unique()))
print(len(data))

12
['Albania' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Barbados' 'Belarus' 'Belgium'
 'Belize' 'Bosnia and Herzegovina' 'Brazil' 'Bulgaria' 'Cabo Verde'
 'Canada' 'Chile' 'Colombia' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus'
 'Czech Republic' 'Denmark' 'Dominica' 'Ecuador' 'El Salvador' 'Estonia'
 'Fiji' 'Finland' 'France' 'Georgia' 'Germany' 'Greece' 'Grenada'
 'Guatemala' 'Guyana' 'Hungary' 'Iceland' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Kazakhstan' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Latvia'
 'Lithuania' 'Luxembourg' 'Macau' 'Maldives' 'Malta' 'Mauritius' 'Mexico'
 'Mongolia' 'Montenegro' 'Netherlands' 'New Zealand' 'Nicaragua' 'Norway'
 'Oman' 'Panama' 'Paraguay' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Republic of Korea' 'Romania' 'Russian Federation'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and Grenadines'
 'San Marino' 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Slovenia'
 'South Africa' 'Spain' 'Sri Lanka' 'Suriname' 'Sweden' 'Switzerland'
 'Thailand' 'Trinidad and Tobago' 'Turkey' 'Turkmenistan' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan']
101
27820

In [33]:
numDims = len(data.columns)
minSup = 100
outputRec = pd.DataFrame({
    "Combination": [],
    "Count": []
})

In [34]:
print(numDims)
print(outputRec)

12
Empty DataFrame
Columns: [Combination, Count]
Index: []

In [35]:
def Partition(input_df, dim, start_row, end_row, dataCount):
    # Get the subset of the dataframe based on the specified rows and columns
    subset_df = input_df.iloc[start_row:end_row + 1, dim:]

    # Sort the subset dataframe by its values
    sorted_df = subset_df.sort_values(by=list(subset_df.columns))

    # Update the original dataframe with the sorted values
    input_df.iloc[start_row:end_row + 1, dim:] = sorted_df.values

    # Count the number of rows for each distinct value in the dim column of input_df
    counts = sorted_df.iloc[:, 0].value_counts().sort_index().tolist()
    dataCount.extend(counts)

In [36]:
def BottomUpCube(input, dim, start_row, end_row, currentCombination):
    for d in range(dim, numDims):
        dataCount = []
        Partition(input, d, start_row, end_row, dataCount)

        k = start_row
        for c in dataCount:
            if c >= minSup:
                outputRec.append({
                    "Combinations": currentCombination + [input[d][k]],
                    "Count": c
                })
                BottomUpCube(input, dim + 1, k, k + c - 1, currentCombination + [input[d][k]])


            k += c

In [39]:
count = len(data)
outputRec = pd.concat([pd.DataFrame(outputRec), pd.DataFrame([{"Combinations": [], "Count": count}])], ignore_index=True).to_dict(orient='records')

In [40]:
print(outputRec)

[{'Combination': nan, 'Count': 27820.0, 'Combinations': []}]

In [ ]:
BottomUpCube(data, 0, 0, len(data) - 1, [])

KeyError: 278