In [3]:
#  Import the pandas library
import pandas as pd

# Load the dataset from the Excel file
data = pd.read_excel("../data/inputs/q2data.xlsx")

# Display the first few rows of the dataset to inspect the data
print(data.head())

               Property_Name  Property_id Property_type     Property_status  \
0               Arkiton Luxe     15446514     Apartment  Under Construction
1  Keshav Akshar Ocean Pearl     15367414     Apartment  Under Construction
2            Vishwa Opulence     14683118     Apartment       Ready to move
3              Satyam Sarjan      5476295     Apartment       Ready to move
4           Navkar Sunflower     15477040     Apartment  Under Construction

  Price_per_unit_area   Posted_On  \
0                4285   1 day ago
1                7000  2 days ago
2                5752  2 days ago
3                2486  5 days ago
4                5324  8 days ago

                                         Project_URL  builder_id  \
0  https://www.makaan.com/ahmedabad/arkiton-life-...   100563465
1  https://www.makaan.com/ahmedabad/keshav-naraya...   100009433
2  https://www.makaan.com/ahmedabad/vishwa-develo...   100207731
3  https://www.makaan.com/ahmedabad/satyam-develo...      101303
4  https://www.makaan.com/ahmedabad/navkar-buildc...     1484209

                  Builder_name Property_building_status  ...  is_furnished  \
0           Arkiton life Space                   ACTIVE  ...   Unfurnished
1         Keshav Narayan Group                   ACTIVE  ...   Unfurnished
2  Vishwa Developers Ahmedabad                   ACTIVE  ...   Unfurnished
3            Satyam Developers                   ACTIVE  ...   Unfurnished
4    Navkar Buildcon Ahmedabad                   ACTIVE  ...   Unfurnished

  listing_domain_score is_plot  is_RERA_registered is_Apartment  \
0                  4.0   False                True         True
1                  4.0   False                True         True
2                  4.0   False               False         True
3                  4.0   False               False         True
4                  4.0   False                True         True

   is_ready_to_move  is_commercial_Listing is_PentaHouse is_studio  \
0             False                  False         False     False
1             False                  False         False     False
2              True                  False         False     False
3              True                  False         False     False
4             False                  False         False     False

   Listing_Category
0              sell
1              sell
2              sell
3              sell
4              sell

[5 rows x 32 columns]

# Data Preproceesing

In [4]:
selected_columns = [
    "Property_type",
    "Property_status",
    "Price_per_unit_area",
    "Property_building_status",
    "City_name",
    "No_of_BHK",
    "Size",
    "is_furnished",
]

filtered_data = data[selected_columns]

# Display the first few rows of the filtered DataFrame
print(filtered_data.head())

  Property_type     Property_status Price_per_unit_area  \
0     Apartment  Under Construction                4285
1     Apartment  Under Construction                7000
2     Apartment       Ready to move                5752
3     Apartment       Ready to move                2486
4     Apartment  Under Construction                5324

  Property_building_status  City_name No_of_BHK         Size is_furnished
0                   ACTIVE  Ahmedabad     3 BHK  1,750 sq ft  Unfurnished
1                   ACTIVE  Ahmedabad     4 BHK  3,384 sq ft  Unfurnished
2                   ACTIVE  Ahmedabad     3 BHK  2,295 sq ft  Unfurnished
3                   ACTIVE  Ahmedabad     2 BHK    918 sq ft  Unfurnished
4                   ACTIVE  Ahmedabad     3 BHK  1,760 sq ft  Unfurnished

Here we selected attribute which are needed for our attribute generalization process

In [5]:
# Clean 'Size' column by removing non-numeric characters
filtered_data['Size'] = filtered_data['Size'].str.replace(',', '').str.replace(' sq ft', '').astype(float)

# Convert 'Price_per_unit_area' to numeric, keeping numeric values intact
filtered_data['Price_per_unit_area'] = filtered_data['Price_per_unit_area'].apply(
    lambda x: float(x.replace(',', '')) if isinstance(x, str) else x
)

/tmp/ipykernel_25759/1947336444.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Size'] = filtered_data['Size'].str.replace(',', '').str.replace(' sq ft', '').astype(float)
/tmp/ipykernel_25759/1947336444.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Price_per_unit_area'] = filtered_data['Price_per_unit_area'].apply(

Here we cleaned our data by making size and price per unit area in numeric to make generalization.

# Attribute Generalization

In [6]:
# Find the minimum and maximum values in the "Size" attribute
min_Price_per_unit_area = filtered_data['Price_per_unit_area'].min()
max_Price_per_unit_area = filtered_data['Price_per_unit_area'].max()

print("Minimum Price_per_unit_area:", min_Price_per_unit_area)
print("Maximum Price_per_unit_area:", max_Price_per_unit_area)

Minimum Price_per_unit_area: 104.0
Maximum Price_per_unit_area: 171969.0

In [7]:
filtered_data

,Property_type,Property_status,Price_per_unit_area,Property_building_status,City_name,No_of_BHK,Size,is_furnished
0,Apartment,Under Construction,4285.0,ACTIVE,Ahmedabad,3 BHK,1750.0,Unfurnished
1,Apartment,Under Construction,7000.0,ACTIVE,Ahmedabad,4 BHK,3384.0,Unfurnished
2,Apartment,Ready to move,5752.0,ACTIVE,Ahmedabad,3 BHK,2295.0,Unfurnished
3,Apartment,Ready to move,2486.0,ACTIVE,Ahmedabad,2 BHK,918.0,Unfurnished
4,Apartment,Under Construction,5324.0,ACTIVE,Ahmedabad,3 BHK,1760.0,Unfurnished
...,...,...,...,...,...,...,...,...
143703,Apartment,Under Construction,9826.0,ACTIVE,Mumbai,1 BHK,346.0,Unfurnished
143704,Apartment,Under Construction,8568.0,ACTIVE,Mumbai,1 BHK,426.0,Unfurnished
143705,Apartment,Under Construction,9861.0,ACTIVE,Mumbai,1 BHK,360.0,Unfurnished
143706,Apartment,Under Construction,8813.0,ACTIVE,Mumbai,2 BHK,590.0,Unfurnished
143707,Apartment,Under Construction,9859.0,ACTIVE,Mumbai,1 BHK,358.0,Unfurnished

In [8]:
# Print unique values of the 'No_of_BHK' column
unique_no_of_bhk = filtered_data['No_of_BHK'].unique()
print("Unique No_of_BHK values:", unique_no_of_bhk)

# Print unique values of the 'is_furnished' column
unique_is_furnished = filtered_data['is_furnished'].unique()
print("Unique is_furnished values:", unique_is_furnished)

# Print unique values of the 'Property_status' column
unique_property_status = filtered_data['Property_status'].unique()
print("Unique Property_status values:", unique_property_status)

Unique No_of_BHK values: ['3 BHK' '4 BHK' '2 BHK' '5 BHK' '1 BHK' '1 RK' '0 BHK' '6 BHK' '7 BHK'
 '11 BHK' '9 BHK' '10 BHK' '8 BHK' '3 RK' '14 BHK' '2 RK' '12 BHK']
Unique is_furnished values: ['Unfurnished' 'Semi-Furnished' 'Furnished']
Unique Property_status values: ['Under Construction' 'Ready to move']

In [9]:
# Calculate the 25th and 75th percentiles of 'Price_per_unit_area'
percentiles = filtered_data['Price_per_unit_area'].quantile([0.25, 0.75])

# Define the categories based on percentiles
categories = []
for price in filtered_data['Price_per_unit_area']:
    if price <= percentiles[0.25]:
        categories.append('budget')
    elif price <= percentiles[0.75]:
        categories.append('luxury')
    else:
        categories.append('ultra_luxury')

# Add the 'Price_Category' column to the DataFrame
filtered_data['Price_Category'] = categories

# Define a function to compute the mode for a Series
def compute_mode(series):
    return series.mode().iloc[0]

# Group the data by 'Price_Category' and compute the mode for selected columns
result = filtered_data.groupby('Price_Category').agg({
    'No_of_BHK': compute_mode,
    'is_furnished': compute_mode,
    'Property_status': compute_mode,
    'Property_type':compute_mode
}).reset_index()

# Merge the mode_values DataFrame with the filtered_data DataFrame based on 'Price_Category'
filtered_data = pd.merge(filtered_data, result, on='Price_Category', suffixes=('', '_mode'))

# Display the updated filtered_data DataFrame
print(filtered_data.head())

  Property_type     Property_status  Price_per_unit_area  \
0     Apartment  Under Construction               4285.0
1     Apartment       Ready to move               2486.0
2     Apartment  Under Construction               2593.0
3     Apartment  Under Construction               3502.0
4     Apartment  Under Construction               4106.0

  Property_building_status  City_name No_of_BHK    Size is_furnished  \
0                   ACTIVE  Ahmedabad     3 BHK  1750.0  Unfurnished
1                   ACTIVE  Ahmedabad     2 BHK   918.0  Unfurnished
2                   ACTIVE  Ahmedabad     2 BHK  1305.0  Unfurnished
3                   ACTIVE  Ahmedabad     2 BHK  1485.0  Unfurnished
4                   ACTIVE  Ahmedabad     3 BHK  1495.0  Unfurnished

  Price_Category No_of_BHK_mode is_furnished_mode Property_status_mode  \
0         budget          2 BHK       Unfurnished        Ready to move
1         budget          2 BHK       Unfurnished        Ready to move
2         budget          2 BHK       Unfurnished        Ready to move
3         budget          2 BHK       Unfurnished        Ready to move
4         budget          2 BHK       Unfurnished        Ready to move

  Property_type_mode
0          Apartment
1          Apartment
2          Apartment
3          Apartment
4          Apartment

/tmp/ipykernel_25759/1652034689.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Price_Category'] = categories

## Categorizing Property Prices and Analyzing Property Attributes

In this section, we describe the process of categorizing property prices based on "Price_per_unit_area" and analyzing certain property attributes within each price category.

1. **Categorizing Property Prices**:
    To categorize property prices into three distinct categories (budget, luxury, and ultra-luxury), we followed these steps:

    - Percentile Calculation: We calculated the 25th and 75th percentiles of the "Price_per_unit_area" attribute. These percentiles helped us identify the price ranges that define each category.

    - Category Assignment: Based on the percentile values, we assigned each property to one of the following categories:

        - Budget: Properties with prices up to the 25th percentile.
        - Luxury: Properties with prices between the 25th and 75th percentiles.
        - Ultra-Luxury: Properties with prices above the 75th percentile.
2. **Analyzing Property Attributes within Categories**:
    After categorizing properties, we aimed to gain insights into property attributes within each price category. Specifically, we computed the mode (the most frequently occurring value) for the following attributes within each category:

    - No_of_BHK: The number of bedrooms, hall, and kitchen in each property.
    - is_furnished: whether the property is 'Unfurnished', 'Semi-Furnished', 'Furnished'.
    - Property_status: The status of the property 'Under Construction' or 'Ready to move'.
    - Propert_type: The type of the property 'Apartment', 'Independent House', 'Villa', 'Independent Floor',
    'Residential Plot'

## Obseravtions
### No_of_BHK (Number of Bedrooms, Hall, and Kitchen):

- **Budget Category:** In the "budget" category, properties predominantly have "2 BHK" (2 bedrooms, hall, and kitchen), suggesting that this category may be more suitable for individuals or small families.
- **Luxury Category:** Similarly, both the "luxury" and "ultra_luxury" categories also feature "2 BHK" properties as the most common option for the number of bedrooms, hall, and kitchen. This indicates that a "2 BHK" configuration is popular across different price ranges.

### is_furnished (Furnished Indicator):

- Across all price categories, the most frequent value for the "is_furnished" attribute is "Unfurnished." This suggests that a significant portion of the properties in all price ranges is not furnished, which may provide opportunities for customization by buyers or renters.

### Property_status :

- In all three price categories ("budget," "luxury," and "ultra_luxury"), the prevailing property status is "Ready to move." This indicates that a substantial number of properties in all price ranges are available for immediate occupancy, which can be attractive to potential buyers or renters.

### Propert_type :
- In all three price categories ("budget," "luxury," and "ultra_luxury"), the prevailing property type is "Apartment". This indicates that a substantial number of properties in all price ranges are Apartments, which can be attractive to potential buyers or renters.

In [10]:
# Drop the specified columns from the DataFrame
filtered_data.drop(columns=['Property_status', 'is_furnished', 'No_of_BHK', 'Property_type'], inplace=True)

In [11]:
# Rename the specified columns
filtered_data.rename(columns={
    'No_of_BHK_mode': 'No_of_BHK',
    'is_furnished_mode': 'is_furnished',
    'Property_status_mode': 'Property_status',
    'Property_type_mode': 'Property_type'
}, inplace=True)

# Display the updated DataFrame
print(filtered_data.head())

   Price_per_unit_area Property_building_status  City_name    Size  \
0               4285.0                   ACTIVE  Ahmedabad  1750.0
1               2486.0                   ACTIVE  Ahmedabad   918.0
2               2593.0                   ACTIVE  Ahmedabad  1305.0
3               3502.0                   ACTIVE  Ahmedabad  1485.0
4               4106.0                   ACTIVE  Ahmedabad  1495.0

  Price_Category No_of_BHK is_furnished Property_status Property_type
0         budget     2 BHK  Unfurnished   Ready to move     Apartment
1         budget     2 BHK  Unfurnished   Ready to move     Apartment
2         budget     2 BHK  Unfurnished   Ready to move     Apartment
3         budget     2 BHK  Unfurnished   Ready to move     Apartment
4         budget     2 BHK  Unfurnished   Ready to move     Apartment

In [12]:
filtered_data = filtered_data.drop(columns=['Price_per_unit_area'])

In [13]:
# Find the minimum and maximum values in the "Size" attribute
min_size = filtered_data['Size'].min()
max_size = filtered_data['Size'].max()

print("Minimum Size:", min_size)
print("Maximum Size:", max_size)

Minimum Size: 100.0
Maximum Size: 90000.0

In [14]:
# Calculate the 25th and 75th percentiles of 'Size'
size_percentiles = filtered_data['Size'].quantile([0.25, 0.75])

# Define the categories based on percentiles
size_categories = []
for size in filtered_data['Size']:
    if size <= size_percentiles[0.25]:
        size_categories.append('small')
    elif size <= size_percentiles[0.75]:
        size_categories.append('medium')
    else:
        size_categories.append('large')

# Add the 'Size_Category' column to the DataFrame
filtered_data['Size_Category'] = size_categories

# Display the updated DataFrame
filtered_data

,Property_building_status,City_name,Size,Price_Category,No_of_BHK,is_furnished,Property_status,Property_type,Size_Category
0,ACTIVE,Ahmedabad,1750.0,budget,2 BHK,Unfurnished,Ready to move,Apartment,large
1,ACTIVE,Ahmedabad,918.0,budget,2 BHK,Unfurnished,Ready to move,Apartment,medium
2,ACTIVE,Ahmedabad,1305.0,budget,2 BHK,Unfurnished,Ready to move,Apartment,medium
3,ACTIVE,Ahmedabad,1485.0,budget,2 BHK,Unfurnished,Ready to move,Apartment,medium
4,ACTIVE,Ahmedabad,1495.0,budget,2 BHK,Unfurnished,Ready to move,Apartment,medium
...,...,...,...,...,...,...,...,...,...
143703,ACTIVE,Mumbai,611.0,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,small
143704,ACTIVE,Mumbai,821.0,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,medium
143705,ACTIVE,Mumbai,747.0,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,medium
143706,ACTIVE,Mumbai,781.0,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,medium
143707,ACTIVE,Mumbai,812.0,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,medium

## Categorizing Property Sizes

In this section, we describe the process of categorizing property sizes based on percentiles and adding a new column, 'Size_Category,' to the DataFrame.


**Category Assignment:**

   - Based on the percentile values, we assigned each property to one of the following size categories:
     - **Small:** Properties with sizes up to the 25th percentile.
     - **Medium:** Properties with sizes between the 25th and 75th percentiles.
     - **Large:** Properties with sizes above the 75th percentile.

The result is an updated DataFrame with the addition of the 'Size_Category' column, allowing us to quickly categorize properties into small, medium, or large size categories based on their size attributes.

These size categories can be valuable for various analyses, such as understanding the distribution of property sizes in the dataset or segmenting properties based on size-related criteria.

In [15]:
filtered_data = filtered_data.drop(columns=['Size'])

In [16]:
filtered_data = filtered_data.drop_duplicates()
filtered_data

,Property_building_status,City_name,Price_Category,No_of_BHK,is_furnished,Property_status,Property_type,Size_Category
0,ACTIVE,Ahmedabad,budget,2 BHK,Unfurnished,Ready to move,Apartment,large
1,ACTIVE,Ahmedabad,budget,2 BHK,Unfurnished,Ready to move,Apartment,medium
49,ACTIVE,Ahmedabad,budget,2 BHK,Unfurnished,Ready to move,Apartment,small
259,INACTIVE,Ahmedabad,budget,2 BHK,Unfurnished,Ready to move,Apartment,large
614,UNVERIFIED,Ahmedabad,budget,2 BHK,Unfurnished,Ready to move,Apartment,medium
...,...,...,...,...,...,...,...,...
112881,UNVERIFIED,Mumbai,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,medium
119476,INACTIVE,Mumbai,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,large
129873,INACTIVE,Mumbai,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,medium
133482,UNVERIFIED,Mumbai,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,small
141886,UNVERIFIED,Mumbai,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,large

In [17]:
# Filter the DataFrame to include only rows where Property_building_status is 'ACTIVE'
filtered_data = filtered_data[filtered_data["Property_building_status"] == "ACTIVE"]

# Display the first few rows of the filtered DataFrame
# print(filtered_data.head())
filtered_data

,Property_building_status,City_name,Price_Category,No_of_BHK,is_furnished,Property_status,Property_type,Size_Category
0,ACTIVE,Ahmedabad,budget,2 BHK,Unfurnished,Ready to move,Apartment,large
1,ACTIVE,Ahmedabad,budget,2 BHK,Unfurnished,Ready to move,Apartment,medium
49,ACTIVE,Ahmedabad,budget,2 BHK,Unfurnished,Ready to move,Apartment,small
4084,ACTIVE,Bangalore,budget,2 BHK,Unfurnished,Ready to move,Apartment,medium
4086,ACTIVE,Bangalore,budget,2 BHK,Unfurnished,Ready to move,Apartment,large
...,...,...,...,...,...,...,...,...
110486,ACTIVE,Kolkata,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,large
110841,ACTIVE,Lucknow,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,large
110844,ACTIVE,Mumbai,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,medium
110846,ACTIVE,Mumbai,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,small
110995,ACTIVE,Mumbai,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,large

Here we are taking only active properties.

In [18]:
filtered_data = filtered_data.drop(columns=['Property_building_status'])

We are dropping duplicate rows

In [19]:
filtered_data = filtered_data.drop_duplicates()
filtered_data

,City_name,Price_Category,No_of_BHK,is_furnished,Property_status,Property_type,Size_Category
0,Ahmedabad,budget,2 BHK,Unfurnished,Ready to move,Apartment,large
1,Ahmedabad,budget,2 BHK,Unfurnished,Ready to move,Apartment,medium
49,Ahmedabad,budget,2 BHK,Unfurnished,Ready to move,Apartment,small
4084,Bangalore,budget,2 BHK,Unfurnished,Ready to move,Apartment,medium
4086,Bangalore,budget,2 BHK,Unfurnished,Ready to move,Apartment,large
...,...,...,...,...,...,...,...
110486,Kolkata,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,large
110841,Lucknow,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,large
110844,Mumbai,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,medium
110846,Mumbai,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,small
110995,Mumbai,ultra_luxury,2 BHK,Unfurnished,Ready to move,Apartment,large

This is our final Attribute generalization data.

In [20]:
# save it as an excel file
filtered_data.to_excel("../data/outputs/q2output.xlsx", index=False)